<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <center>
            <h1 class="masthead-title">
              <p><a href="/" title="Home">{{ site.title }}</a></p>
              <small><a href="http://www.goodreads.com/quotes/570515-kipple-is-useless-objects-like-junk-mail-or-match-folders" title="Get the reference?">{{ site.tagline }}</a></small>
            </h1>
          </center>
        </div>
      </div>

      <div class="container page-list">
        <a class="page-list-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>
        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              <a class="page-list-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <!-- Uncomment this for sidebar access -->
    <!-- <label for="sidebar-checkbox" class="sidebar-toggle"></label> -->

  </body>
</html>
